*,
::after,
::before {
  box-sizing: border-box;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: "Roboto";
}

.header__item2, .header__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/fons.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.16;
  letter-spacing: 1.56;
  text-transform: uppercase;
  width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64;
    width: 696px;
  }
}
.hero__button {
  line-height: 1.87;
  padding: 10px 24px;
  border: 0;
  letter-spacing: 0.96px;
  background-color: #2196f3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__box {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 60px;
}
.footer__wraper {
  text-align: center;
}
.footer__logo {
  color: #fff;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__web {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__adress {
  font-style: normal;
}
.footer__maps {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.footer__adress {
  margin-top: 20px;
}
.footer__list {
  margin-top: 9px;
}
.footer__link {
  margin-bottom: 9px;
}
.footer__link:last-child {
  margin-bottom: 0px;
}
.footer__item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__form {
  display: flex;
  gap: 12px;
  /* margin-left: 93px; */
  padding-bottom: 19px;
}
.footer__lab {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__inp {
  display: block;
  width: 358px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding: 15px 16px;
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  margin-top: 20px;
}
.footer__btn {
  display: flex;
  align-items: center;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 28px 10px 28px;
  height: 50px;
  margin-top: 36px;
}
.footer__icon {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.foot__box {
  margin-left: 70px;
  margin-right: auto;
  text-align: center;
}
.foot__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.foot__list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.foot__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 33px;
  background-color: rgba(255, 255, 255, 0.1);
}
.foot__item:hover, .foot__item:focus {
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.foot__icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.div-form {
  text-align: center;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.box {
  display: flex;
  align-items: center;
}

.header {
  background-color: #ffffff;
  padding: 16px 0px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0px;
  }
}
.header__logo {
  color: #000;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  margin-right: auto;
  width: 145px;
  letter-spacing: 0.72;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78;
    margin-right: 93px;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}
.header__web {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
}
.header__list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.header__link {
  position: relative;
}
.header__item {
  color: #212121;
}
.header__item:hover, .header__item:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.header__list2 {
  display: none;
  gap: 10px;
  margin-left: auto;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__list2 {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__list2 {
    gap: 30px;
    flex-direction: row;
  }
}
.header__icon {
  width: 10px;
  height: 16px;
  fill: #757575;
}
.header__svg {
  width: 16px;
  height: 12px;
}
.header__item2 {
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .header__item2 {
    font-size: 14px;
  }
}
.header__item2:hover, .header__item2:focus {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: #2196f3;
}
.header__item2:hover .header__icon, .header__item2:focus .header__icon {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.header__item2:last-child {
  margin-right: 0px;
}

.current {
  color: #2196f3;
}
.current .current::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 20px;
  margin-top: 10px;
  position: absolute;
  top: 35px;
}
.current:hover::after, .current:focus::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  position: absolute;
  top: 48px;
  left: 0px;
  transition-property: #2f303a, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0px;
  }
}
.customers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.customers__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  outline: 1px solid #afb1b8;
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196f3;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.customers__icon:hover {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  opacity: 1;
  transition: opacity 300ms, pointer-events 300ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-200px, 150px) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  padding: 6px;
  position: absolute;
  top: 14px;
  right: 14px;
  border: 1px solid rgb(238, 238, 238);
}
.modal__btn:hover .btn-svg, .modal__btn:focus .btn-svg {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__title {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 12px;
}
.modal__lab {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  border: none;
}
.modal__inp {
  display: block;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(238, 238, 238);
  padding: 12px 12px 12px 42px;
  margin-bottom: 10px;
  margin-top: 4px;
  outline: none;
}
.modal__coment {
  display: block;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border-color: rgb(238, 238, 238);
  padding: 12px 16px;
  margin-bottom: 25px;
  resize: none;
  margin-top: 4px;
  outline: none;
}
.modal__box {
  position: relative;
}
.modal__inp:hover, .modal__inp:focus {
  border-color: #2196f3;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__inp:hover + .modal__svg, .modal__inp:focus + .modal__svg {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__svg {
  width: 18px;
  height: 18px;
  top: 53%;
  left: 12px;
  position: absolute;
}
.modal__us {
  width: 18px;
  height: 18px;
}
.modal__chek {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.modal__check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.modal__link2 {
  color: #2196f3;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  margin-left: 3px;
}
.modal__btn2 {
  line-height: 1.8;
  padding: 10px 53px;
  letter-spacing: 0.96px;
  background-color: #2196f3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.1);
}

.btn-svg {
  width: 18px;
  height: 18px;
}

.btn {
  text-align: center;
}

.affairs {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .affairs {
    display: block;
  }
}
.affairs__list {
  display: flex;
  gap: 30px;
}
.affairs__item {
  position: relative;
}
.affairs__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.affairs__img {
  width: 370px;
}
.affairs__box {
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}
.affairs__text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}
.advantages__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.advantages__item::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: rgb(245, 244, 250);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .advantages__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item::before {
    width: 270px;
  }
}
.advantages__item:first-child::before {
  background-image: url(../../images/antenna.png);
}
.advantages__item:nth-child(2)::before {
  background-image: url(../../images/clock.png);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../../images/diagram.png);
}
.advantages__item:last-child::before {
  background-image: url(../../images/astronaut.png);
}
.advantages__title {
  text-align: center;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .advantages__title {
    text-align: start;
  }
}
.advantages__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 270px;
  }
}

.photo {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #EEE;
}
.photo__box {
  border: 1px solid rgb(238, 238, 238);
  background-color: #fff;
  padding: 20px 24px;
}
.photo__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.photo__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  margin-top: 4px;
}
.photo__list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.photo__box {
  overflow: hidden;
}
.photo__btn {
  color: #212121;
  background-color: rgb(245, 244, 250);
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
}
.photo__btn:hover, .photo__btn:focus {
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.photo__list2 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.photo__link2 {
  flex-basis: calc((100% - 60px) / 3);
}
.photo__link2:focus .photo__link2:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.photo__link2:focus .photo__link2:hover .overlay {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.photo__img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform background-color;
  transition-duration: 2500ms;
  transition-delay: 0;
}
.overlay__text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.54px;
  width: 322px;
}

.box-icon {
  position: relative;
  overflow: hidden;
}

.box-icon:hover .overlay {
  opacity: 1;
  transform: translate(0);
  transition: transform 250ms;
  transition-delay: 0;
}

.comand {
  background-color: rgb(245, 244, 250);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .comand {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.comand__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
}
.comand__item {
  flex-basis: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .comand__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .comand__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.comand__box {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.comand__img {
  width: 270px;
}
.comand__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .comand__title {
    line-height: 1.16;
    font-size: 36px;
    margin-bottom: 50px;
    letter-spacing: 1.08px;
  }
}
.comand__description {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
}
.comand__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  margin-top: 10px;
  margin-bottom: 16px;
}
.comand__svg-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.comand__svg-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.comand__svg-item:hover, .comand__svg-item:focus {
  border-radius: 50%;
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.comand__svg-item:hover__icon-comand, .comand__svg-item:focus__icon-comand {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  border: #2196f3;
}
.comand__icon-comand {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}/*# sourceMappingURL=main.css.map */