.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/fons.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    color: $studio-color;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    line-height: 1.87;
    padding: 10px 32px;
    border: 0;
    @include style-button;
  }
}
